/* ---------------------------------- general sections  -----------------------------
	------------------------------------------------------------------------------- */

section{
	position: relative;
	
	.content{
		padding: 2rem;
		@include max-width;
	}
	
}

section.diagonal{
	//margin-top: -19rem;
	//margin-top: calc( (1 / 1 * (100% + 39rem) ) - 500px);
	.image_triangle{
		width: 100%;
		//background: $color_blue;
		
		img{
			width: 100%;
			height: auto;
		}
		
		.content{
			position: relative;
			top: -5rem;
			@include display-grid;
			@include grid-parent-2-columns (1fr, 1fr);
			
			@media (max-width: 820px){
				top: 0rem;
				margin: -0.1rem -1.5rem;
				background: $color_red;
			}
			
			@media (max-width: $breakpoint_4){
				@include grid-parent-1-columns (1fr);
			}
			
			.comillas{
				max-width: 430px;
				margin: auto;
				@include grid-child-column (2, 3);
				@include grid-child-row (1, 2);
				
				@media (max-width: $breakpoint_4){
					@include grid-child-column (1, 2);
					padding: 2rem 3rem 2rem 2rem ;
				}
				
			}
			
		}	
		
	}
	
}

section.red{
	background: $color_red;
}

section.white{
	background: $color_white;
}

section.number_one{
	margin-top: -7rem;
	padding-top: 5rem;
	
	@media (max-width: 820px){
		margin-top: 0rem;
	}
	
	.content{
		max-width: 1130px;
		margin: auto;
		grid-gap: 1rem;
		@include display-grid;
		@include grid-parent-2-columns (1fr, 2fr);
		
		@media (max-width: $breakpoint_3){
			@include grid-parent-1-columns (1fr);
		}
		
		div{
			
			&:nth-child(2){
				align-items: center;
				@include display-grid;
				@include grid-parent-2-columns (1fr, 5fr);
				
				@media (max-width: $breakpoint_3){
					align-items: start;
				}
				
			}
			
		}
		
	}	
	
}


