/* ---------------------------------- header  -----------------------------
	------------------------------------------------------------------------------- */


header{
	padding: 0 2rem;
	position: relative;
	
	//transform: rotate(-10deg);
	
	.bg_left_content{
		position: absolute;
		left: 0;
		top: 0;
		max-width: 50%;
	}
	
	.header_content{
		grid-row-gap: 3rem;
		@include display-grid;
		@include max-width;
		@include grid-parent-2-columns (1fr, 1fr);
		//transform: rotate(10deg);
		
		@media (max-width: $breakpoint_4){
			@include grid-parent-1-columns (1fr);
		}
		
		.logo{
			@include grid-child-column (1, 2);
			@include grid-child-row (1, 2);
			z-index: 2;
		}
		
		nav{
			margin-top: 2rem;
			@include grid-child-column (2, 3);
			@include grid-child-row (1, 2);
			z-index: 2;
			
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				
				li{
					display: inline-block;
					list-style-type: none;
					margin-right: 1rem;
					
					&:last-child{
						margin-right: 0;
					}
					
					a{
						
					}
					
				}
				
			}
			
		}
		
		.left_content{
			justify-items: center;
			@include display-grid;
			@include grid-parent-1-columns (1fr);
			@include grid-child-column (1, 2);
			@include grid-child-row (2, 3);
			z-index: 2;
			
			div{
				
				&:nth-child(1){
					@include grid-child-column (1, 2);
					@include grid-child-row (1, 2);
				}
				
				&:nth-child(2){
					margin-left: 4rem;
					@include grid-child-column (1, 2);
					@include grid-child-row (2, 3);
				}
				
			}
			
		}
		
		.right_content{
			justify-items: center;
			align-self: center;
			margin-bottom: 12rem;
			@include grid-child-column (2, 3);
			@include grid-child-row (2, 3);
			z-index: 2;
			text-align: center;
			
			div{
				
				h1{
					margin: 0;
				}
				
			}
			
		}
		
	}
	
}
	



