extends ./jade/includes/layout-pages.jade

//- Head html tag
block title
	title Semana de Francia

//- Content page
block content
			
	header
		div.bg_left_content
			div: img(src='../../images/photos/banner-france.png' alt='Semestre de francia')
			
		div.header_content
			div.logo
				img(src='../../images/svg/logoueb.svg' alt='Universidad El Bosque')
			nav
				ul
					li: a(href='#' target='_blank') semestre de francia 
					li: a(href='#' target='_blank') agenda semestral 
					li: a(href='#' target='_blank') explora francia 
			
			div.left_content
				div: img(src='../../images/svg/semestre-francia-globo.svg' alt='Semestre de francia')
				div: img(src='../../images/photos/estudiantes.png' alt='Semestre de francia')
			
			div.right_content
				div
					h1 El arte de la
					h1.script educación francesa
					a(href='#explora').btn_red explora francia
	
	section.diagonal
		div.image_triangle
			img(src='../../images/svg/triangle-red.svg' alt='bg-red')
			div.content
				p.comillas La relación brillante entre formación y arte  a través de la historia francesa.
				
				
			
	section.red.number_one
		div.content
			div: img(src='../../images/svg/globo1.svg' alt='La educación francesa es un arte que inspira con su inventiva y su enfoque hacia la innovación.') 
			div
				img(src='../../images/svg/corchete.svg' alt='Semestre de francia') 
				p La Semana de Francia es también Libertad, Igualdad y Fraternidad. Libertad de soñar con estudiar y conocer este maravilloso país. Igualdad de oportunidades al ser uno de los clúster de innovación más importantes del mundo. Fraternidad con más de 800 años recibiendo estudiantes extranjeros y promoviendo la transferencia de conocimiento.
				
	
	
	section.red.number_two
		div.content
			h1.script Agenda Semestral
			
			div#tabs.tabs
				ul
					li
						a(href="#tabs-1") 3 
							span Sep
					li
						a(href="#tabs-2") 10 
							span Sep
					li
						a(href="#tabs-3") 13 
							span Oct
					
				div#tabs-1
					div.content_left
						img(src='../../images/svg/globo-dias.svg' alt='Semestre de francia') 
						span Inauguración semestre virtual de Francia
					div.content_right
						h4 agenda de cooperación
						p Invitado
						p Honorable Embajador de Francia en Colombia Sr. Gautier Mignot
						
				div#tabs-2
					div.content_left
						div.tabs_script
							span Inauguración semestre virtual de Francia
					div.content_right
						h4 agenda de cooperación 2
						p Invitado
						p Honorable Embajador de Francia en Colombia Sr. Gautier Mignot
						
				div#tabs-3
					div.content_left
						div.tabs_script
							span Inauguración semestre virtual de Francia
					div.content_right
						h4 agenda de cooperación 3
						p Invitado
						p Honorable Embajador de Francia en Colombia Sr. Gautier Mignot
						
			
		
				
			
				
		
	
	
	
	
	