//- ----------------------------
//- ---------------------------- header menu ------------------------------- //
//- ----------------------------
mixin header-back-u
	div.back
		section
			<a href="https://www.unbosque.edu.co" target="_blank"><i class="fas fa-caret-left"></i> Ir a la Universidad El Bosque</a>
	
	

		
		






