html{
	//@media (pointer:coarse){
	//	overflow-x: hidden;
	//}
	-webkit-overflow-scrolling:touch;
	
	body{
		position: relative;
		overflow-x: hidden;
		height: 100%;
		word-break: break-word;
		display: block;
		margin: 0;
		background: $color_blue;
		@include prefix(transition, all 0.3s ease, webkit moz o ms);
		@include font_universal (
			$font_family_line_height: 23px,
			$font_family_weight: 200,
			$font_family_size: 18px,
			$font_family_color: $color_white,
			$font_family_letter_spacing: 0,
			$font_family_group: $font_family_din
		);
		@media (pointer:coarse){
			overflow-x: hidden;
		}
		
		img{
			max-width: 100%;
			height: auto;
			image-rendering: -webkit-optimize-contrast;
			display: block;
			@include prefix(transition, all 0.3s ease, webkit moz o ms);
			
			&:hover{
				//@include prefix(box-shadow, 0px 10px 24px rgba(0,0,0,0.3), webkit moz);
			}
			
		}
		
		a{
			text-decoration: underline;
			padding: .3rem 0;
			display: inline-block;
			text-decoration: none;
			position: relative;
			@include prefix(transition, all 0.3s ease, webkit moz o ms);
			@include font_universal (
				$font_family_line_height: 23px,
				$font_family_weight: 600,
				$font_family_size: 18px,
				$font_family_color: $color_white,
				$font_family_letter_spacing: 0,
				$font_family_group: $font_family_din
			);
			
			&:after{
				content: "";
				position: absolute;
				background: $color_white;
				width: 0;
				height: 1px;
				bottom: 1px;
				left: 0;
				@include prefix(transition, all 0.3s ease, webkit moz o ms);
			}
			
			&:hover{
				&:after{
					content: "";
					position: absolute;
					background: $color_white;
					width: 100%;
					height: 1px;
				}
			}
			
		}
		
		::after, ::before{
			@include prefix(transition, all 0.3s ease, webkit moz o ms);
		}
		
		ul {
			list-style: none; /* Remove default bullets */
			margin: 0;
		}
		
		/*ul li::before {
			content: "\2022";  
			color: $color_text; 
			font-weight: bold; 
			display: inline-block; 
			width: 1em; 
			margin-left: -1em; 
		}*/
		
		a.btn_red{
			@include btn_red;
		}
		
		p{
			@include max-width-p;
		}
		
		p.comillas{
			position: relative;
			padding-left: 2rem;
			
			&:before{
				position: absolute;
				content: "";
				background: url('../../images/svg/comillas.svg');
				background-repeat: no-repeat;
				background-size: contain;
				width: 12px;
				height:17px;
				left: 0;
				top: 0;
			}
			
		}

	}
	
}